@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --brightYellow: #e3b505;
  --darkBrown: #bb9457;
  --yellow: rgb(242, 180, 80);
  --brown: #382923;
  --black: #191919;
  --grey: #a9b2ac;
}

body {
  font-family: "Robot" sans-serif;
  background: #000000f5;
}

.nav-bar {
  position: sticky;
  top: 0;
  width: 100%;
}

.nav_links {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  height: 7vh;
  align-items: center;
  /* background: #191919; */
  background: linear-gradient(
      to left,
      rgba(21, 30, 71, 0.3),
      rgba(57, 22, 138, 0.3)
    ),
    url(../image/nav.jpg) center/cover no-repeat fixed;
  z-index: 3;
}
.nav_single-link {
  font-family: "Robotp" sans-serif;
  display: block;
  cursor: pointer;
  color: #2ecc71;
  font-weight: bolder;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  padding: 1.05rem 1.4rem;
  margin: 0;
  text-align: center;
  transition: all 0.5s ease;
}
.nav_single-link:hover {
  background: #2ecc70af;
  color: whitesmoke;
}

.header-img {
  position: relative;
  height: 18vh;
  display: block;
  background: linear-gradient(
      to right,
      rgba(50, 139, 50, 0.373),
      rgba(50, 139, 50, 0.373)
    ),
    url(../image/line.jpg) center/cover no-repeat fixed;
}
#heade-title {
  position: absolute;
  color: #191919;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
}

.wrap {
  height: 100vh;
  background: linear-gradient(
      to left,
      rgba(21, 30, 71, 0.3),
      rgba(57, 22, 138, 0.3)
    ),
    url(../image/nav.jpg) center/cover no-repeat fixed;
}

.space {
  height: 25vh;
  background: linear-gradient(
      to left,
      rgba(21, 30, 71, 0.3),
      rgba(57, 22, 138, 0.3)
    ),
    url(../image/nav.jpg) center/cover no-repeat fixed;
}

.form-work {
  margin: 0 auto 0;
}

.form-box {
  background: black;
  height: 50vh;
  width: 1100px;
  margin: 0px auto 0px auto;
}

.form-box-inner {
  background: #2c3e50;
  height: 100%;
}

.labels {
  float: left;
  width: 15%;
  padding-top: 45px;
  padding-left: 20px;
  font-size: 20px;
  padding-left: 20px;
  margin-left: 100px;
}
.labels label {
  display: block;
  margin-bottom: 18px;
  color: #2ecc71;
}
.inputs {
  float: left;
  margin-top: 40px;
  padding-right: auto;
  margin-right: auto;
}
.inputs input {
  display: inline-block;
  margin-bottom: 28px;
  margin-left: 30px;
  height: 35px;
  padding: 5px;
  border: 1px solid royalblue;
  border-radius: 3px;
  color: #3be47ef1;
  background: black;
}

.inputs textarea {
  margin-left: 30px;
  border: 1px solid royalblue;
  color: #3be47ef1;
  background: black;
  width: 50%;
}

@media (max-width: 1100px) {
  .labels {
    display: none;
  }
  .inputs {
    margin-left: auto;
    margin-right: auto;
  }
}
.end {
  clear: both;
  margin-top: 100vh;
  margin-bottom: 10vh;
}

.apply {
  width: 100%;
  height: 40px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  color: #2ecc71;
  background: #2c3e50;
  transition: all 0.75s ease;
}

.apply:hover {
  color: #1e2b38;
  background: #2ecc70a4;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}

.radio-box {
  display: inline-block;
  color: #2ecc71;
  font-size: 20px;
}

.radio-box input {
  display: inline-block;
  margin-left: 35px;
  height: 12px;
  padding: 0;
  border: 1px solid royalblue;
  color: #3be47ef1;
  background: black;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--brightYellow);
  z-index: 9001;
  display: grid;
  justify-content: center;
  align-items: center;
}
